* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  --back-collor: #030205;
  --first-collor: #800000;
  --scnd-collor: #982b1c;
  --thrd-collor: #dad4b5;
}

body {
  background-color: var(--back-collor);
}

/* Main Board */

.inverted {
  margin: 1.3% auto;
  width: 95dvw;
  height: 95dvh;
  background: var(--first-collor);
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.3fr;
  grid-template-rows: 0.5fr 3fr 0.5fr;
  grid-template-areas:
    "header header header"
    "sidebar content aside"
    "sidebar content aside"
    "footer footer footer";
  border-radius: 5rem;
}

/* Header */

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
}

header h2 {
  font-size: 2em;
  background-color: var(--first-collor);
  text-align: center;
  line-height: 8rem;
  border-radius: 5rem;
}

header .navbar ul {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--back-collor);
  height: 7rem;
  padding: 1rem 2rem;
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
}

header .navbar ul li {
  list-style: none;
}
header .navbar ul li a {
  text-decoration: none;
  font-size: 1.8em;
  color: var(--scnd-collor);
}

.tambahan {
  width: 10rem;
  margin: 0.5rem auto;
  background-color: white;
}

/* Main Card */
main {
  padding: 0.5rem;
  grid-area: content;
}

main .radius {
  height: 52rem;
  background-image: url(../img/Changli_Card.jpg);
  background-size: 60rem;
  background-repeat: no-repeat;
  background-color: var(--scnd-collor);
  position: relative;
  border-radius: 2.3rem;
}
.gpt-1 {
  width: 10rem;
  height: 10rem;
  background-color: var(--first-collor);
  position: absolute;
  z-index: 5;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 5rem;
  right: 0;
  top: 0;
}
.gpt-2 {
  width: 9rem;
  height: 9rem;
  background-color: var(--thrd-collor);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
}

/* Main Card Little Explanation */
.radius .detail {
  background-color: rgba(255, 255, 255, 0.1);
  width: 28rem;
  height: 38rem;
  z-index: 9999;
  position: absolute;
  top: 12rem;
  right: 2rem;
  border-radius: 1.8rem;
  background-image: url(../img/Changli_Splash_Art.jpg);
  background-size: contain;
  background-position-y: -4rem;
  background-repeat: no-repeat;
}
.radius .detail-kecil {
  width: 26rem;
  height: 18rem;
  margin: 19rem 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1.5rem;
  padding: 1.3rem;
}
.radius .detail-kecil h3 {
  line-height: 2rem;
  font-size: 2em;
  margin-bottom: 1rem;
}
.radius .detail-kecil p {
  line-height: 2rem;
  font-size: 1.2em;
}
.tambah-1 {
  width: 5rem;
  height: 5rem;
  background: radial-gradient(
    farthest-corner at 95% 0%,
    transparent 40%,
    var(--first-collor) 41%
  );
  position: absolute;
  bottom: 7.9rem;
  left: -2rem;
}
.tambah-2 {
  width: 3rem;
  height: 3rem;
  background: radial-gradient(
    farthest-corner at 0% 85%,
    var(--first-collor) 70%,
    transparent 30%
  );
  position: absolute;
  bottom: 7rem;
  right: 31.8rem;
  z-index: 2;
}
.tambah-3 {
  width: 4.5rem;
  height: 2.5rem;
  background: radial-gradient(
    farthest-corner at 101% 0%,
    transparent 40%,
    var(--first-collor) 41%
  );
  position: absolute;
  bottom: -1.15rem;
  right: 29rem;
  z-index: 2;
}
.tambah-4 {
  width: 4rem;
  height: 3rem;
  background: radial-gradient(
    farthest-corner at -2% 100%,
    var(--scnd-collor) 40%,
    var(--first-collor) 41%
  );
  position: absolute;
  top: -1.31rem;
  right: 8.26rem;
  z-index: 10;
}
.tambah-5 {
  width: 4.5rem;
  height: 4.5rem;
  background: radial-gradient(
    farthest-corner at -1% 99%,
    var(--scnd-collor) 40%,
    var(--first-collor) 41%
  );
  position: absolute;
  top: 8.1rem;
  right: -1.95rem;
  z-index: 10;
}
.tambah-6 {
  width: 5rem;
  height: 5rem;
  background: radial-gradient(
    farthest-corner at 100% 115%,
    var(--first-collor) 41%,
    var(--back-collor) 40%
  );
  position: absolute;
  top: -0.6rem;
  right: 22.7rem;
  z-index: 10;
}
.tambah-7 {
  width: 4.5rem;
  height: 4.5rem;
  background: radial-gradient(
    farthest-corner at 0% 105%,
    var(--first-collor) 41%,
    var(--back-collor) 40%
  );
  position: absolute;
  top: -0.25rem;
  left: 22.8rem;
  z-index: 10;
}
/* Main Card Bottom Explanation */
.penjelasan {
  width: 60rem;
  height: 10rem;
  background-color: var(--first-collor);
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 1rem;
  border-top-right-radius: 2rem;
}
.penjelasan .isi {
  width: 59rem;
  height: 9rem;
  background-color: var(--thrd-collor);
  padding: 0.5rem;
  border-radius: 1.8rem;
  position: absolute;
  z-index: 5;
}
.penjelasan .isi h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.5rem;
}
.penjelasan .isi p {
  font-size: 1.2em;
}

/* Left Sidebar */
aside.sidebar {
  grid-area: sidebar;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(../img/Changli_Full_Sprite.jpg);
  background-size: cover;
  background-position-x: -9rem;
  margin: 0.5rem 1.5rem 1.5rem;
  border-radius: 4rem;
}

/* Right Sidebar */
aside.aside {
  height: 40rem;
  grid-area: aside;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10rem 1.5rem;
  border-radius: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 0.5em;
}
.aside .hero {
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--scnd-collor);
}
.aside .hero.pertama {
  width: 10rem;
  height: 10rem;
  background-image: url(../img/Calcharo_Splash_Art.jpg);
  background-size: cover;
  border-radius: 50%;
  background-position-x: -2rem;
}
.aside .hero.kedua {
  width: 10rem;
  height: 10rem;
  background-image: url(../img/Changli_Splash_Art.jpg);
  background-size: 20rem;
  border-radius: 50%;
  background-position: -2.7rem;
}
.aside .hero.ketiga {
  width: 10rem;
  height: 10rem;
  background-image: url(../img/Jiyan_Splash_Art.jpg);
  background-size: cover;
  border-radius: 50%;
  background-position-x: -2.2rem;
}
aside.aside .hero a {
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 999;
  border-radius: 50%;
}
